<h2>Message Center</h2>
<table class="table">
    <thead>
        <th>From</th>
        <th>Subject</th>
    </thead>
    <tbody>
        <tr ng-repeat="message in messages">
            <td>{{message.from}}</td>
            <td>{{message.subject}}</td>
        </tr> 
    </tbody>
</table>